
* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gamja Flower", sans-serif;
    text-align: center;
    min-height: 100vh;
}

h1 {
    font-family: "Send Flowers", cursive;
    font-weight: 400;
    font-size: 400%;
    color: purple;
    text-shadow: 3px 3px 3px rgb(184, 183, 183);
}

.main-container {
    margin: 30px;
    border: 3px solid purple;
    border-radius: 50px;
    background-color: lightpink;
    background-image: url(/Images/PublicDomain_bouquet.jpg);
    background-size: contain;
    background-position: center bottom;
}

#game-container {
    margin: 15px auto 300px auto;
    position: relative;
    width: 305px;
    height: 305px;
    border: 2px dashed rgb(204, 20, 130);
    border-radius: 10px;
    background-color: rgba(255, 206, 214, 0.704);
}

#start-button, #reset-button {
    padding: 10px;
    border: 3px outset rgb(204, 20, 130);
    border-radius: 30px;
    font-family: "Gamja Flower", sans-serif;
    font-size: 24px;
    font-weight: 500;
    background-color:  rgba(255, 255, 0, 0.447);
    color: black;
}

#start-button:hover {
    background-color: rgba(144, 238, 144, 0.623);
    font-weight: bold;
    cursor: pointer;
}

#reset-button:hover {
    background-color: rgb(78, 1, 78);
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

#flower {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: cell;
}

#score, #timer {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 24px;
    font-weight: 500;
}

#score {
    background: #faf2d9;
    color: darkred;
}

#timer {
    background-color: rgb(204, 240, 252);
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#final-score {
    font-size: 200%;
}
